AtomPair OD1 99 C9 1X HARMONIC 2.62 0.2
Angle    CG 99 OD1 99 C9 1X           HARMONIC 2.06 0.35
Angle    OD1 99 C9 1X N1 1X           HARMONIC 2.03 0.35
Dihedral CB 99 CG 99 OD1 99 C9 1X  CIRCULARHARMONIC 3.14 0.35
Dihedral CG 99 OD1 99 C9 1X N1 1X  CIRCULARHARMONIC 3.14 0.35
Dihedral OD1 99 C9 1X N1 1X O5 1X  CIRCULARHARMONIC 3.14 0.35
Dihedral C6 1X C1 1X N2 1X O3 1X  CIRCULARHARMONIC 3.14 0.35
