# Ignore all log files and checkpoint files
**.log
**/.ipynb_checkpoints
**/__pycache__

#Qsub stuff from grid
qsub_jupyter.err
qsub_jupyter.out
IP_jupyter.IP

# Ignore all subdirectories (directories only) in example_notebooks
example_notebooks/*/
!example_notebooks/*.*
example_notebooks/*.config

# Do not ignore the "input" directory and its contents
!example_notebooks/Input/
!example_notebooks/Input/**
archive/1_AIzymes_run.tar


# FOR FITNESS LANDSCAPES
# 1) Ignore _everything_ under fitness_landscapes (files & dirs)
fitness_landscapes/**

# 2) Re‑include all items immediately under fitness_landscapes/
!fitness_landscapes/*

# 3) Re‑include only these file types in subdirector, where
!fitness_landscapes/*/*.png
!fitness_landscapes/*/*.csv
!fitness_landscapes/*/*.xls
!fitness_landscapes/*/*.zip
!fitness_landscapes/*/*.py
!fitness_landscapes/*/*.seq
