# Ignore everything in the design/ directory
design/*

# Keep test
!design/TEST/*ipynb
!design/TEST/Input

# Ignore all log files and checkpoint files
**.log
**/.ipynb_checkpoints
**/__pycache__

# qsub stuff from grid
qsub_jupyter.err
qsub_jupyter.out
IP_jupyter.IP

# .pkl files from PLM learner
fitness_landscapes/**/*.pkl
